@model AdminViewModel
@{  Layout = "Layout.cshtml"; }

@if (Model.AvailableRobotTxts != null && Model.AvailableRobotTxts.Any())
{
    <div>
        @foreach (var robotTxt in Model.AvailableRobotTxts)
        {
            <div>
                <span>@robotTxt.Name</span>
                <span><a href="@Url.Content(string.Format("{0}/{1}/{2}/{3}", Const.ModuleUrlBase,Const.ModuleAdminController,Const.ModuleAdminEditAction, robotTxt.Id))">Edit</a></span>
                <span><a href="@Url.Content(string.Format("{0}/{1}/{2}/{3}", Const.ModuleUrlBase, Const.ModuleAdminController, Const.ModuleAdminDeleteAction, robotTxt.Id))">Delete</a></span>
            </div>
        }
    </div>
}

@if (Model.Sites != null && Model.Sites.Any())
{
    using (Html.BeginForm())
    {
        @Html.DropDownList("SelectedSite", Model.Sites)
        @Html.TextAreaFor(a => a.RobotText, new { @rows = 20 })

        <input type="submit" value="Submit" />
    }
}
